<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcf2S2vTAiorP1yprhda_TanTvYt3UjVM</string>
	<key>GCM_SENDER_ID</key>
	<string>130077722537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vikash.OrderPatti</string>
	<key>PROJECT_ID</key>
	<string>orderpatti-63435</string>
	<key>STORAGE_BUCKET</key>
	<string>orderpatti-63435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130077722537:ios:a851124b647450b740e6b8</string>
</dict>
</plist>